.notes_card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  color: black;
  padding: 15px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.description {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.date {
  color: gray;
  font-size: 12px;
}

.description_text p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0 !important;
}
